<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="secondary">Famous Quotes</h2>
        <div *ngFor="let quote of quotes">
          <p
            class="h3"
            *ngIf="highestUpvote() === quote.upvotes && quote.upvotes > 0"
          >
            {{ quote.quote }}
          </p>
          <p
            class="h3"
            *ngIf="highestUpvote() !== quote.upvotes || quote.upvotes === 0"
          >
            {{ quote.quote }}
          </p>
          <app-details [quote]="quote"></app-details>
          <button class="col btn btn-success" (click)="upVote()">
            {{ uvotes }}<i class="fa fa-thumbs-up"></i>
          </button>
          <button class="col btn btn-danger" (click)="downVote()">
            {{ dvotes }}<i class="fa fa-thumbs-down"></i>
          </button>
          <button class="btn btn-danger" (click)="delQuote(quote.index)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <app-form (emitQuote)="addQuote($event)"></app-form>
        </div>
      </div>
    </div>
  </div>
</div>
