<div class="col-md-12">
    <div class= "row">
    <section class="view intro-2">
      <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
    
          <div class="col-md-6 text-center">
            <div class="white-text ">
              <h2 class="secondary"> Famous Quotes </h2>
              <div class="myQuote " *ngFor="let quote of quotes">
                <p class=" h3" *ngIf="highestUpvote()===quote.upvotes && quote.upvotes > 0 ">
                  {{quote.quote}}
                  </p>
                  <p class="h3" *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}
                  </p>
                  <button class="btn btn-info" (click)="upvote(i)">Upvote </button>
                  <button class="btn btn-info" (click)="downvote(i)">Downvote </button>
                  <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>
              </div>
    
              </div>
    
            </div>
    
        </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <app-form (emitQuote)="addQuote($event)"></app-form>
          </div>
        </div>
      </section>
      </div>
    </div>
    